{{> header}}
<div class="col-sm-8 col-sm-offset-2">
    <div class="tab-pane fade active show" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab"
         aria-expanded="true">
        <div class="acc-setting">
            <h3>Requests</h3>
            <div class="requests-list " id="req_list">
                <!--<div class="request-details">-->
                    <!--<div class="noty-user-img">-->
                        <!--<img src="./request page_files/r-img6.png" alt="">-->
                    <!--</div>-->
                    <!--<div class="request-info">-->
                        <!--<h3>John Doe</h3>-->
                        <!--<span>PHP Developer</span>-->
                    <!--</div>-->
                    <!--<div class="accept-feat">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<button type="submit" class="accept-req">Accept</button>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<button type="submit" class="close-req"><i class="la la-close"></i></button>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>&lt;!&ndash;accept-feat end&ndash;&gt;-->
                <!--</div>&lt;!&ndash;request-detailse end&ndash;&gt;-->
            </div><!--requests-list end-->
        </div><!--acc-setting end-->
    </div>
</div>

<script src="/javascripts/manage_req.js"></script>