{{> header}}
<div class="col-sm-8 col-sm-offset-2">
    <div class="tab-pane fade active show" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab"
         aria-expanded="true">
        <div class="acc-setting">
            <h3>Saved Post</h3>
            <div class="product-feed-tab current" id="saved_post_list">
            </div><!--requests-list end-->
        </div><!--acc-setting end-->
    </div>
</div>
<style>
    .div_1 {

        background: #1b1e21;
        position: relative;
        opacity: 0.5;
    }

    .div_2 {
        /*position: absolute;*/
        /*height: 176px;*/
        /*width: 176px;*/
    }

    .img_col-sm-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        height: 176px;
        width: 176px;
        max-height: 33.333333%;
    }
</style>

<script src="/javascripts/managed_saved.js"></script>