{{> header}}
<div class="col-sm-8 col-sm-offset-2">
    <div class="tab-pane fade active show" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab"
         aria-expanded="true">
        <div class="acc-setting">
            <br>
            <div style="font-size: 2em" class="color-blue col-sm-12 text-center"><em class="fa fa-info-circle"></em> Let
                us Know about you
            </div>
            <br>
            <div class="cp-field">
                <h5>What you like to watch</h5>
                <div class="cpp-fiel">
                    <input type="text" id="txt_watch" name="txt_watch" placeholder="What you like to watch ?">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="cp-field">
                <h5>Your favourite food</h5>
                <div class="cpp-fiel">
                    <input type="text" id="txt_fav_food" name="txt_fav_food" placeholder="Your favourite food ?">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="cp-field">
                <h5>Visited Place</h5>
                <div class="cpp-fiel">
                    <input type="text" id="txt_place" name="txt_place" placeholder="Visited Place ?">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="cp-field">
                <h5>what you would like to read</h5>
                <div class="cpp-fiel">
                    <input type="text" id="txt_read" name="txt_read" placeholder="what you would like to read ?">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <div class="col-sm-12 text-right">
                <ul>
                    <li>
                        <button id="btn_save_info" style="margin: 5%" class="btn bg_col_purple color-white">Update
                            my info &nbsp;<em class="fa fa-info-circle"></em></button>
                    </li>
                </ul>
            </div><!--save-stngs end-->
        </div><!--acc-setting end-->
    </div>
</div>

<script src="/javascripts/update_info.js"/>